@model IEnumerable<ListUserViewModel>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- List view card start -->
            <div class="card">
                <div class="card-header">
                    <h5>List View</h5>

                </div>
                <div class="row card-block">--
                    <div class="col-md-12">
                        <ul class="list-view">
                            @foreach (var item in Model)
                            {


                             <li>
                                <div class="card list-view-media">
                                    <div class="card-block">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img class="media-object card-list-img" src="\images\@item.Photo" alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">
                                                <div class="col-xs-12">
                                                    <h6 class="d-inline-block">
                                                        @item.FirstName
                                                    </h6>
                                                    <label class="label label-info">Agent</label>
                                                </div>
                                                <div class="f-13 text-muted m-b-15">
                                                   @item.UserName
                                                </div>

                                                <p>
                                                    Hi, This is my short intro text.
                                                    Lorem ipsum is a dummy content sit
                                                    dollar. You can copy and paste this
                                                    dummy content from anywhere and to
                                                    anywhere. Its all free and must be a
                                                    good to folllow in prectice
                                                </p>
                                                <div class="m-t-15">

                                                    <a data-toggle="tooltip" title="Edite" class="btn btn-twitter btn-mini waves-effect waves-light"
                                                       asp-area="Manage" asp-controller="UserManagers" asp-action="Edit">
                                                        Edit
                                                    </a>

                                                    <button type="button" onclick="deleteuser('@item.UserName')" id="delete" data-toggle="tooltip" title="Delete" class="btn btn-dribbble btn-mini waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            }

                        </ul>
                    </div>
                </div>
            </div>
            <!-- List view card end -->
        </div>
    </div>
   
</div>
<!-- Page body end -->